<header id="page_header">
	<h1>Agile Sonic</h1>
	<%= image_tag '/images/Logo.gif', :id => 'logo', :alt => 'Logo of Agile Sonic, Inc.' %>
	<!--img src='/images/logo.png' alt='Agile Sonic'/-->
	<div class='right'>
		<nav>
			<h1>Site navigation</h1>
			<ul>
				<li><a href='https://customers.agilesonic.com'>Login</a></li>
				<li><a href='/features'>Features</a></li>
				<li><a href='/pricing'>Pricing</a></li>
				<li><a href='/quote'>Quote</a></li>
			</ul>
		</nav>
		<div class='social_media'>
			<ul>
				<li class='phone'>1.800.888.8888</li>
				<li><a href='http://www.twitter.com/agilesonic' target='_agilesonic'><img src='/images/twitter.png' alt='Twitter'></a></li>
				<li><a href='http://www.facebook.com/agilesonic' target='_agilesonic'><img src='/images/facebook.png' alt='facebook'></a></li>
				<li><a href='http://www.linkedin.com/in/agilesonic' target='_agilesonic'><img src='/images/linkedin.png' alt='linkedin'></a></li>
			</ul>
		</div>
	</div>
</header>
<!--
<article id='main_teaser'>
	<hgroup>
		<h1>Business application done in weeks?</h1>
		<h2>and available everywhere, on every device?</h2>
	</hgroup>
	<p><span>Yes!</span>That's what we do. </p>
	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
</article>
-->
<section id='mission'>
	<hgroup>
		<h1>Cloud based agile software services</h1>
		<h2>Applications for less time and cost, better targeted and connected</h2>
	</hgroup>
</section>
<section id='features'>
	<h1>Features</h1>
	<ul id='tabs'>
		<li id='locally' class='active'>Locally customized</li>
		<li id='globally'>Globally available</li>
		<li id='agilely'>Agilely engineered</li>
		<li id='socially'>Socially connected</li>
	</ul>
	<div id='slider'></div>
	<div id='content_holder'>
		<article>
			<h2>Your app For your unique business</h2>
			<div>
				<p>Everything business is different. To maximize efficiency, you need a customized application that</p>
				<ul>
					<li>speaks your business language just like you do</li>
					<li>knows your clients and their needs even before you do</li>
					<li>understands your market better than your competitor</li>
					<li>manages your employees so you know when, where they are every moment</li>
					<li>exposes every aspect of business data to allow timely adjustment</li> 
				</ul>
				<p>More importantly, your business is constantly growing so the IT system should grow and evolve quickly, our agile development process allows us to do just that.</p>  
				<p class="more"><a href="#">Read more</a></p>
		    </div>
			<aside>
				<h3>Some of customizable components that help your business</h3>
				<ul class="left">
					<li><a href="#">Client management</a></li>
					<li><a href="#">Production management</a></li>
					<li><a href="#">Fleet management</a></li>
					<li><a href="#">Receivable management</a></li>
				</ul>
				<ul class="left">
					<li><a href="#">Human resources management</a></li>
					<li><a href="#">Inventory management</a></li>
					<li><a href="#">Payroll management</a></li>
					<li><a href="#">Business analysis</a></li>
				</ul>
				<p>And many more... None of these components is out of shelf product. We will work with you to make them fit your business perfectly.</p>
			</aside>
		</article>
		<article>
			<h2>Anywhere, anytime, any Device</h2>
			<div>
				<p>We are in a mobile world, so is your business, your clients and your employees. AgileSonic allows you to access business information</p>
				<ul>
					<li><span class="key">anywhere</span><span>as long as your have computing device</span></li>
					<li><span class="key">anytime</span><span>system is up 24x7</span></li>
					<li><span class="key">any deivce</span><span>you have any one of these: computers, tablets, smart phones, you have access to your business</span></li>
				</ul>
				<p class="more"><a href="#">Read more</a></p>
			</div>
			<aside>
				<p>Flash demo.</p>
			</aside>
		</article>
		<article>
			<h2>Application that grows with your business</h2>
			<div>
				<p>Your just found an excellent business oppotunity, or your business grows exponetially, you need an IT system to quickly adapted to support it. Our AgileSonic development process allows us to do just that.</p>
				<p>We follow four guiding principles of Agile Development</p>
				<ul>
					<li>Individuals and interactions over processes & tools</li>
					<li>Working software over comprehensive documentation</li>
					<li>Customer collaboration over contract negotiation</li>
					<li>Responding to change over following a plan</li>
				</ul>
				<p>We are proud that changes get done in days, instead of months.</p>
				<p class="more"><a href="#">Read more</a></p>
			</div>
			<aside>
				<p>Flash demo for agile development process.</p>
			</aside>
		</article>
		<article>
			<h2>Make friends while doing business, with your app</h2>
			<div>
				<p>You, your employees and your customers are in one community. Follow them and let them follow you. Keep them informed. AgileSonic allows you to get them engaged with the latest social networking tools</p>
				<ul>
					<li>Web site</li>
					<li>Emails</li>
					<li>Facebook</li>
					<li>Twitter</li>
					<li>LinkedIn</li>
					<li>Blogs</li>
				</ul>
				<p>All these tools have programming interface and are tightly integrated and automated in AgileSonic system.</p>
				<p class="more"><a href="#">Read more</a></p>
			</div>
			<aside>
				<p>Flash for social networking.</p>
			</aside>
		</article>
	</div>
</section>
<footer id="page_footer">
	<div>&copy; Agile Sonic Inc. 2012 | Lagel & Privacy | Quote | Contact us</div>
</footer>
