<header data-role="header" id="pageHeader" data-theme='d'>
	<%= image_tag 'godaddy/gd_logo_html5.png', :alt => 'logo', :class => 'ui-btn-left' %>
	<h1>MOBILE</h1>
	<a href='#' class='ui-btn-right'>Menu</a>
</header>
